<ion-header>
    <ion-toolbar>
        <ion-icon name="close" size="large" (click)="back()" float-left></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="{{article.picture}}"></ion-img>
    <ion-card-header>
      <ion-card-title style="text-align:center;">{{article.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align:justify">
      <pre style="font-family: var(--ion-font-family,inherit);white-space:pre-wrap;text-align: justify;">{{(article.body)}}</pre>
      <br>
      <p>Author: {{article.author}}</p>
      <p>Source: {{article.source}}</p>
    </ion-card-content>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button  color="danger" (click)="markFake()">
          <!-- <ion-icon name="close"></ion-icon> -->
          <ion-title>Fake</ion-title>
      </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="markNotFake()">
        <!-- <ion-icon name="checkmark"></ion-icon> -->
        <ion-title>Truth</ion-title>
    </ion-fab-button>
  </ion-fab>
  <br>
  <br>
  <br>
</ion-content>
