<ion-header>
  <ion-toolbar>
    <ion-title>Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let article of articles;let i = index">
    <ion-img src="{{article.picture}}"></ion-img>
    <ion-card-header>
        <ion-card-title style="text-align:center;">{{article.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content padding>
        <pre style="font-family: var(--ion-font-family,inherit);white-space:pre-wrap;text-align: justify;">{{(article.body.substring(0, 300) + "…")}}</pre>
        <ion-button>See More</ion-button>
    </ion-card-content>
</ion-card>
</ion-content>
